<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Exciting Stuff</h1>
        <p class="lead text-muted">Super exciting stuff that is going to exsist in 9 weeks!</p>
        <p>
            <%= link_to 'Find Out More About Me!', about_path, class: 'btn bnt-primary'%>
            <%= link_to 'Check Out My Blog!', blogs_path, class: 'btn bnt-secondary'%>

        </p>
    </div>
</section>