<div class="app-card-container">
    <div class="card">
        <h1>About Me</h1>

        <br>

        <div class="row">
            <div class="col-md-4">
            <%= image_tag "profile2.jpg", width: 300, alt: "Profile Image", class: 'profile-img'%>
              <div class="skills">
                <% @skills.each do |skill| %>
                  <div class="skill">
                  <h4><%= skill.title %></h4>
                  <div class="progress">
                    <div
                      class="progess-bar progress-bar-striped bg-info"
                      role="progressbar"
                      aria-valuenow="<%= skill.percent_utilized %>"
                      aria-valuemax="100"
                      style="width: <%=skill.percent_utilized %>%"
                    ></div>
                  </div>                  
                </div>
              <% end %>
            </div>
          </div>

            <div class="col-md-8">
              <p> Heyo! 👋🏻  </p>
                <p>Technology wasn't that path I thought I was going on, but I'm sure glad I did!
                   Being a creative person I have always wanted to shared my ideas in as many ways as possible!
                   Lucky for me web development is one of the most creative outlets! </p>
                    
                <p>    
                   Now that seemed super scripted and too excited, don't you think? Now back to me,
                   I like cool things like photography, graphic design, building websites,
                   traveling, sleeping(not on the job), and last but not least basketball.
                   Besides being a web developer and a photographer I am a self proclamed Spotify DJ.
                </p>

                <p> I can also build you a website, which is probably why you're here, lets talk! </p>
        <p>
          <button
            class="btn btn-outline-default"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-outline-default"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Smith's Food and Drug - Cashier
            </div>
            <div class="card card-block">
              Free Lance Photographer
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              American International School of Utah
            </div>
            <div class="card card-block">
              Bottega Tech
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>

