<div class="app-card-container">
    <div class="card">
        <h1>About Me</h1>

        <br>

        <div class="row">
            <div class="col-md-4">
            <%= image_tag "profile.jpg", width: 350, alt: "Profile Image", class: 'profile-img'%>
            </div>

            <div class="col-md-8">
                <p>This bio is gonna be a lot cooler in like 12 weeks. Trust me.</p>
                <p>This bio is gonna be a lot cooler in like 11 weeks. Trust me.</p>
                <p>This bio is gonna be a lot cooler in like 10 weeks. Trust me.</p>
                <p>This bio is gonna be a lot cooler in like 9weeks. Trust me.</p>
            </div>

        </div>
    </div>
</div>







