<h1>Contact Information</h1>

<p><%= number_to_phone "8016634421"%></p>

<p><%= number_to_currency "150852"%></p>

<p><%= number_to_percentage "80"%></p>

<p><%= number_with_delimiter "80456465465"%></p>

