<div class="app-card-container">
    <div class="card contact">

        <h1>Contact Me</h1>

         <div class="row contact">
            <div class="col-md-12">
                <br>
                <%# <p>Phone: <%= number_to_phone "8016634421"</p> %>
                <%# <p>Address: 995 E Arlington Way, Bountiful, UT 84010 </p> %> 
                <p><a href="mailto:lynzie.jjohnson@gmail.com?subject=PortfolioContact" "email me"> Email Me!</a> </p>

            <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1518.5724569485233!2d-111.89681837775841!3d40.42778995299943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752802ed41a832f%3A0xed84ac1aa5815b33!2sUtah+Valley+University%2C+Thanksgiving+Point+Campus!5e0!3m2!1sen!2sus!4v1511813480494" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>            </div>
        </div>
    </div>
</div>
