<div class="inner cover">
  <h1 class="cover-heading">Hi! I'm Lynzie</h1>
  <p class="lead">I make websites and take pictures. It's cool, I know.</p>
  <p class="lead">
    <%= link_to "Get to know me!", about_path, class: "btn btn-lg btn-outline-light"%>
  </p>
</div>

       
