<div class="inner cover">
  <h1 class="cover-heading">Hello!</h1>
  <p class="lead">“The only thing standing between you and your goal is the bullshit story you keep telling yourself as to why you can’t achieve it.”
― Jordan Belfort</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-outline-light"%>
  </p>
</div>

       
