<div class="inner cover">
  <h1 class="cover-heading">Hello!</h1>
  <p class="lead">This is going to be a great portfolio in 10 weeks time. Until then, hold on.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-outline-light"%>
  </p>
</div>

       
