// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #70A9A1;
    color: #F9FBF2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.bottom a {
    color: #40798C;
}

